<% page_title "Pools" %>
<% meta_description "#{Danbooru.config.meta_description}" %>

<%= render "secondary_links" %>

<div id="c-pools">
  <div id="a-index">
    <%= render "search", :path => pools_path %>

    <%= table_for @pools, width: "100%" do |t| %>
      <% t.column "Name", width: "60%" do |pool| %>
        <span class="pool-category-<%= pool.category %>"><%= link_to pool.pretty_name, pool_path(pool) %></span>
        <% if pool.is_deleted? %>
          <span class="inactive">(deleted)</span>
        <% end %>
        <% if pool.last_page > 1 %>
          <%= link_to "page #{pool.last_page}", pool_path(pool, :page => pool.last_page), :class => "last-page" %>
        <% end %>
      <% end %>
      <% t.column "Count", width: "10%" do |pool| %>
        <%= pool.post_count %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@pools) %>
  </div>
</div>
