<% unless CurrentUser.user.is_builder? %>
  <div style="margin-bottom: 1em;">
    <p>Before editing, read the <%= link_to "how to tag guide", wiki_page_path(:id => "howto:tag") %>.</p>
  </div>
<% end %>

<%= render_source_data(nil) %>

<%= edit_form_for(post, html: { id: "form" }) do |f| %>
  <%= f.input :tags_query, as: :hidden, input_html: { id: nil, name: "tags_query", value: params[:q] } %>
  <%= f.input :pool_id, as: :hidden, input_html: { id: nil, name: "pool_id", value: params[:pool_id] } %>
  <%= f.input :favgroup_id, as: :hidden, input_html: { id: nil, name: "favgroup_id", value: params[:favgroup_id] } %>
  <%= f.input :old_tag_string, as: :hidden, input_html: { value: post.tag_string } %>
  <%= f.input :old_parent_id, as: :hidden, input_html: { value: post.parent_id } %>
  <%= f.input :old_source, as: :hidden, input_html: { value: post.source } %>
  <%= f.input :old_rating, as: :hidden, input_html: { value: post.rating } %>

  <% if post.is_rating_locked? %>
    This post is rating locked.
  <% else %>
    <%= f.input :rating, collection: [["Explicit", "e"], ["Questionable", "q"], ["Safe", "s"]], as: :radio_buttons, boolean_style: :inline %>
  <% end %>

  <fieldset class="inline-fieldset post_has_embedded_notes_fieldset">
    <label>Notes</label>
    <%= f.input :has_embedded_notes, label: "Embed notes", as: :boolean, boolean_style: :inline, disabled: post.is_note_locked? %>
  </fieldset>

  <% if policy(post).can_lock_rating? || policy(post).can_lock_notes? || policy(post).can_lock_status? %>
    <fieldset class="inline-fieldset post_lock_fieldset">
      <label>Lock</label>

      <% if policy(post).can_lock_rating? %>
        <%= f.input :is_rating_locked, label: "Rating", as: :boolean, boolean_style: :inline  %>
      <% end %>
      <% if policy(post).can_lock_notes? %>
        <%= f.input :is_note_locked, label: "Notes", as: :boolean, boolean_style: :inline  %>
      <% end %>
      <% if policy(post).can_lock_status? %>
        <%= f.input :is_status_locked, label: "Status", as: :boolean, boolean_style: :inline  %>
      <% end %>
    </fieldset>
  <% end %>

  <%= f.input :parent_id, label: "Parent", as: :string %>
  <%= f.input :source %>

  <div class="input fixed-width-container" id="tags-container">
    <div class="header">
      <%= f.label :tag_string, "Tags" %>

      <span data-tag-counter data-for="#post_tag_string">
        <span class="tag-count"></span>
	<% if Danbooru.config.post_tag_limits['low'] != -1 && Danbooru.config.post_tag_limits['high'] != -1 %>
	<img>
	<% end %>
      </span>
      <a href="javascript:void(0)">
        <%= external_link_icon(id: "open-edit-dialog", "data-shortcut": "shift+e") %>
      </a>
    </div>

    <div>
      <%= f.input :tag_string, label: false, hint: "Ctrl+Enter to submit", input_html: { "data-autocomplete": "tag-edit", "data-shortcut": "e", value: post.presenter.split_tag_list_text + " " } %>
    </div>

    <%= render "related_tags/buttons" %>
  </div>

  <div class="input">
    <%= f.submit "Submit" %>
  </div>

  <%= render "related_tags/container" %>
<% end %>
