<% page_title "Account Upgrade" %>
<% meta_description "Upgrade to a Gold or Platinum account." %>
<script src="https://js.stripe.com/v3/"></script>

<%= render "users/secondary_links" %>

<div id="c-user-upgrades">
  <div id="a-new" class="fixed-width-container mx-auto">

    <h1>Upgrade Account</h1>

    <p>Only the administration can promote users.</p>
    <p>Try doing something noteworthy (e.g. consistently upload many pictures) and the administrator might promote you.</p>

    <!-- <% if @user_upgrade.is_gift? %> -->
    <!--   <h1 class="text-center mb-4">Gift Account Upgrade</h1> -->

    <!--   <% if @user_upgrade.recipient.is_platinum? %> -->
    <!--     <p><%= link_to_user @recipient %> is already above Platinum level and can't be upgraded!</p> -->
    <!--   <% else %> -->
    <!--     <h6>You are gifting this upgrade to <%= link_to_user @user_upgrade.recipient %>.</h6> -->
    <!--   <% end %> -->
    <!-- <% else %> -->
    <!--   <h1 class="text-center mb-4">Upgrade Account</h1> -->

    <!--   <p>Upgrading your account gives you exclusive benefits and helps support -->
    <!--   <%= Danbooru.config.canonical_app_name %>. Your support helps keep the -->
    <!--   site ad-free for everyone!</p> -->

    <!--   <p>You can also gift an account upgrade to someone else. Just go to -->
    <!--   their profile page and look for a "Gift Upgrade" link.</p> -->
    <!-- <% end %> -->

    <!-- <table id="feature-comparison" class="w-full text-center table-md mt-8 mb-8"> -->
    <!--   <thead> -->
    <!--     <tr> -->
    <!--       <th></th> -->
    <!--       <th>Basic</th> -->
    <!--       <th>Gold</th> -->
    <!--       <th>Platinum</th> -->
    <!--     </tr> -->
    <!--   </thead> -->
    <!--   <tbody> -->
    <!--     <colgroup id="labels" class="w-1/4"></colgroup> -->
    <!--     <colgroup id="basic" class="w-1/4"></colgroup> -->
    <!--     <colgroup id="gold" class="w-1/4"></colgroup> -->
    <!--     <colgroup id="platinum" class="w-1/4"></colgroup> -->
    <!--     <tr> -->
    <!--       <td></td> -->
    <!--       <td>Free</td> -->
    <!--       <td> -->
    <!--         <%= cents_to_usd(UserUpgrade.gold_price) %> -->
    <!--         <div class="fineprint">One time fee</div> -->
    <!--       </td> -->
    <!--       <td> -->
    <!--         <%= cents_to_usd(UserUpgrade.platinum_price) %> -->
    <!--         <div class="fineprint">One time fee</div> -->
    <!--       </td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>Tag Limit</td> -->
    <!--       <td><%= User.tag_query_limit(User::Levels::MEMBER) %></td> -->
    <!--       <td><%= User.tag_query_limit(User::Levels::GOLD) %></td> -->
    <!--       <td><%= User.tag_query_limit(User::Levels::PLATINUM) %></td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>See Hidden Tags</td> -->
    <!--       <td>No</td> -->
    <!--       <td>Yes</td> -->
    <!--       <td>Yes</td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>Page Limit</td> -->
    <!--       <td>1,000</td> -->
    <!--       <td>2,000</td> -->
    <!--       <td>5,000</td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>Favorite Limit</td> -->
    <!--       <td>10,000</td> -->
    <!--       <td>20,000</td> -->
    <!--       <td>Unlimited</td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>Favorite Groups</td> -->
    <!--       <td>3</td> -->
    <!--       <td>5</td> -->
    <!--       <td>10</td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>Saved Searches</td> -->
    <!--       <td>250</td> -->
    <!--       <td>250</td> -->
    <!--       <td>1,000</td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td>Search Timeout</td> -->
    <!--       <td>3 sec</td> -->
    <!--       <td>6 sec</td> -->
    <!--       <td>9 sec</td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--       <td></td> -->
    <!--       <% if @user_upgrade.purchaser.is_anonymous? %> -->
    <!--         <td><%= link_to "Login", login_path(url: new_user_upgrade_path), class: "login-button button-primary" %></td> -->
    <!--         <td><%= link_to "Get #{Danbooru.config.canonical_app_name} Gold", login_path(url: new_user_upgrade_path), class: "login-button button-primary" %></td> -->
    <!--         <td><%= link_to "Get #{Danbooru.config.canonical_app_name} Platinum", login_path(url: new_user_upgrade_path), class: "login-button button-primary" %></td> -->
    <!--       <% elsif @recipient.level == User::Levels::MEMBER %> -->
    <!--         <td></td> -->
    <!--         <td><%= button_to "Get #{Danbooru.config.canonical_app_name} Gold", user_upgrades_path(user_id: @recipient.id, upgrade_type: "gold", country: params[:country], promo: params[:promo]), class: "button-primary", remote: true, disable_with: "Redirecting..." %></td> -->
    <!--         <td><%= button_to "Get #{Danbooru.config.canonical_app_name} Platinum", user_upgrades_path(user_id: @recipient.id, upgrade_type: "platinum", country: params[:country], promo: params[:promo]), class: "button-primary", remote: true, disable_with: "Redirecting..." %></td> -->
    <!--       <% elsif @recipient.level == User::Levels::GOLD %> -->
    <!--         <td></td> -->
    <!--         <td><%= button_to "Get #{Danbooru.config.canonical_app_name} Gold", nil, class: "button-primary", disabled: true %></td> -->
    <!--         <td><%= button_to "Get #{Danbooru.config.canonical_app_name} Platinum", user_upgrades_path(user_id: @recipient.id, upgrade_type: "gold_to_platinum", country: params[:country], promo: params[:promo]), class: "button-primary", remote: true, disable_with: "Redirecting..." %></td> -->
    <!--       <% else %> -->
    <!--         <td></td> -->
    <!--         <td><%= button_to "Get #{Danbooru.config.canonical_app_name} Gold", nil, class: "button-primary", disabled: true %></td> -->
    <!--         <td><%= button_to "Get #{Danbooru.config.canonical_app_name} Platinum", nil, class: "button-primary", disabled: true %></td> -->
    <!--       <% end %> -->
    <!--     </tr> -->
    <!--   </tbody> -->
    <!-- </table> -->

    <!-- <h2 class="mb-4">Frequently Asked Questions</h2> -->

    <!-- <div id="frequently-asked-questions" class="divide-y-1"> -->
    <!--   <details> -->
    <!--     <summary>What are the benefits of <%= Danbooru.config.canonical_app_name %> Gold?</summary> -->

    <!--     <p><%= Danbooru.config.canonical_app_name %> Gold lets you do more -->
    <!--     complicated searches, and it lets you see hidden tags that non-Gold users -->
    <!--     can't see. You can search more tags at once, browser deeper in search -->
    <!--     results, and also keep more favorites, favorite groups, and saved searches.</p> -->
    <!--   </details> -->

    <!--   <details> -->
    <!--     <summary>What are the benefits of <%= Danbooru.config.canonical_app_name %> Platinum?</summary> -->

    <!--     <p>Platinum is like Gold, but it lets you search even more tags at once, -->
    <!--     and keep even more favorites, favorite groups, and saved searches.</p> -->
    <!--   </details> -->

    <!--   <details> -->
    <!--     <summary>What payment methods do you support?</summary> -->

    <!--     <p>We support all major credit and debit cards, including international -->
    <!--     cards. We also support bank payments in several European countries, -->
    <!--     including Austria, Belgium, Germany, the Netherlands, and Poland.</p> -->

    <!--     <p>Payments are securely handled by <a href="https://www.stripe.com">Stripe</a>. -->
    <!--     We don't support PayPal or Bitcoin at this time.</p> -->
    <!--   </details> -->

    <!--   <details> -->
    <!--     <summary>Is this a subscription?</summary> -->

    <!--     <p>No, this is not a subscription. This is a one-time payment. You pay -->
    <!--     only once and keep the upgrade forever.</p> -->
    <!--   </details> -->

    <!--   <details> -->
    <!--     <summary>If I upgrade to Gold first, can I upgrade to Platinum later?</summary> -->

    <!--     <p>Yes, if you have a Gold account, you can always upgrade to a Platinum -->
    <!--     account later. You don't have to pay full price to upgrade from Gold to -->
    <!--     Platinum. You only have to pay the difference.</p> -->
    <!--   </details> -->

    <!--   <details> -->
    <!--     <summary>What is your refund policy?</summary> -->

    <!--     <p>You can <%= link_to "contact us", contact_path %> to request a refund -->
    <!--     for any reason within 48 hours of your purchase.</p> -->
    <!--   </details> -->
    <!-- </div> -->
  </div>
</div>
