<footer id="page-footer" class="text-small">
  <span class="page-footer-app-name"><%= Danbooru.config.app_name %></span>
  / <%= link_to "Rules", terms_of_service_path %>
  / <%= link_to "Contact", contact_path %>
  /
  <span class="social-icons">
    <% if Danbooru.config.source_code_url.present? %>
      <% if Danbooru.config.show_current_commit %>
        <%= link_to Danbooru.config.source_code_url, title: "Running commit: #{Rails.application.config.x.git_hash&.first(9)}", class: "social-icon" do %>
          <img src="/images/gitlab-logo.png">
        <% end %>
      <% else %>
        <%= link_to Danbooru.config.source_code_url, title: "Running EasyPlace", class: "social-icon" do %>
	  <img src="/images/gitlab-logo.png">
	<% end %>
      <% end %>
    <% end %>
    <% if Danbooru.config.twitter_username.present? %>
      <%= link_to "https://twitter.com/#{Danbooru.config.twitter_username}", class: "social-icon" do %>
        <%= twitter_icon %>
      <% end %>
    <% end %>
    <% if Danbooru.config.discord_server_url.present? %>
      <%= link_to Danbooru.config.discord_server_url, class: "social-icon" do %>
        <%= discord_icon %>
      <% end %>
    <% end %>
  </span>
</footer>
