<% page_title "Error: #{@message}" %>

<h1>Error</h1>
<p><%= @message %></p>

<% unless @expected %>
  <p>Please do not attempt to fix it yourself. Report the details to the administration instead.</p>
  <h3>Details</h3>
  <%= render "static/backtrace", exception: @exception, backtrace: @backtrace %>
<% end %>
