<% if @post_set.query.is_empty_search? %>
  <% page_title("#{Danbooru.config.app_name}", suffix: nil) %>
  <% meta_description site_description %>

  <% atom_feed_tag "Posts", posts_url(format: :atom) %>
<% else %>
  <% page_title("#{@post_set.humanized_tag_string} Art") %>
  <% meta_description("See over #{number_with_delimiter(@post_set.post_count)} #{@post_set.humanized_tag_string} images on #{Danbooru.config.app_name}. #{DText.excerpt(@post_set.wiki_page&.body)}") %>

  <% atom_feed_tag "Posts: #{@post_set.tag_string}", posts_url(tags: @post_set.tag_string, format: :atom) %>
<% end %>

<% if params[:tags].blank? && @post_set.current_page == 1 %>
  <% canonical_url root_url(host: Danbooru.config.hostname) %>
<% end %>

<% noindex if @post_set.hide_from_crawler? %>

<% if @post_set.has_explicit? %>
  <meta name="rating" content="adult">
<% end %>

<% if @post_set.best_post.present? %>
  <%= tag.meta property: "og:image", content: @post_set.best_post.open_graph_image_url %>
  <%= tag.meta name: "twitter:image", content: @post_set.best_post.open_graph_image_url %>
  <%= tag.meta name: "twitter:card", content: "summary_large_image" %>
<% end %>
