<menu id="main-menu" class="main">
  <% if CurrentUser.is_anonymous? %>
    <%= nav_link_to("Login", login_path(url: request.fullpath), rel: "nofollow") %>
  <% else %>
    <%= nav_link_to("My Account #{unread_dmail_indicator(CurrentUser.user)}", profile_path) %>
  <% end %>
  <%= nav_link_to("Posts", posts_path) %>
  <%= nav_link_to("Comments", comments_path(:group_by => "post")) %>
  <%= nav_link_to("Notes", notes_path) %>
  <%= nav_link_to("Artists", artists_path) %>
  <%= nav_link_to("Tags", tags_path) %>
  <%= nav_link_to("Pools", pools_path) %>
  <%= nav_link_to("Wiki", wiki_page_path("help:home")) %>
  <%= nav_link_to("Forum", forum_topics_path, :class => (CurrentUser.has_forum_been_updated? ? "forum-updated" : nil)) %>
  <% if CurrentUser.is_moderator? %>
    <%= nav_link_to("Dashboard", moderator_dashboard_path) %>
  <% end %>
  <%= nav_link_to("More »", site_map_path) %>
</menu>
